<form style="display: inline-block;" class="form-inline" method="get" action="{{ path('salon_index') }}">
    <input class="form-control mr-sm-2" name="filter" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
</form>

