{% extends 'base.html.twig' %}

{% block title %}Edit {{ salon.name }}{% endblock %}

{% block body %}
    <h1>Edit {{ salon.name }}</h1>
    {{ include('salon/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
